<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Integrations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Integrations for Organization: <%= orgId %></h1>
        <ul class="list-group">
            <% integrations.forEach(integration => { %>
                <li class="list-group-item">
                    <%= integration.name + ': ' + integration.id %>
                    <button class="btn btn-secondary btn-sm provision-btn" data-id="<%= integration.id %>">Create Provisional Token</button>
                    <form action="/orgs/<%= orgId %>/integrations/<%= integration.id %>/switch-token" method="post" class="form-inline mt-2">
                        <input type="text" name="provisionalToken" placeholder="Enter new token" class="form-control mb-2 mr-sm-2" required>
                        <button type="submit" class="btn btn-primary mb-2">Switch Token</button>
                    </form>
                    <% if (integration.brokerToken) { %>
                        <div>Broker Token: <%= integration.brokerToken %></div>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    </div>
    <script>
        $(document).ready(function() {
            $('.provision-btn').click(function() {
                const integrationId = $(this).data('id');
                $.post('/orgs/<%= orgId %>/integrations/' + integrationId + '/provision-token', function(data) {
                    alert('Provisional token created: ' + data.provisionalBrokerToken);
                }).fail(function(jqXHR) {
                    console.error('Error response:', jqXHR.responseJSON || jqXHR.responseText);
                    alert('Failed to create provisional token for integration ' + integrationId);
                });
            });
        });
    </script>
</body>
</html>
